appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-bootstrap-form==3.4
django-bootstrap3==14.1.0
django-bootstrap4==2.2.0
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-filter==2.3.0
django-heroku==0.3.1
django-organizations==1.1.2
django-tables2==2.3.1
djangorestframework==3.11.2
filelock==3.0.12
gunicorn==20.0.4
httpie==2.2.0
idna==2.10
Markdown==3.2.2
mysql-connector-python==8.0.21
mysqlclient==2.0.1
protobuf==3.12.4
psycopg2==2.8.5
Pygments==2.6.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.30
whitenoise==5.2.0
