<!DOCTYPE html>
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Books REST API</title>
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
{% crispy filter.form filter.form.helper %}
<div class="filter_clear">
{% if has_filter %}
    <button class="clear_button" class="btn btn-success" type="button"><a href="{%  url 'books' %}">Clear all filters</a></button>
{% endif %}
</div>
<div class="button_div">
    <button class="add_button" class="btn btn-success" type="button"><a href="{%  url 'get_books' %}">Add books with 'war' in the title</a></button>
</div>
{% render_table table %}
</body>
</html>