#wrapper {
    margin: 40px 20px;
    display: flex;
}
.block_div {
    margin: 0px 20px;
}

.filter_clear .clear_link {
    margin: 10px 0px 0px 0px;
}

.button_div .add_link {
    margin: 20px 0px 10px 0px;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

#filter_div{
    margin: 20px 20px;
}

#parent{
    text-align: center
}

#all_content{
    margin: 40px 20px 0px 20px;
    display: inline-block
}
#login_form{
    display: inline-block
}

#title_books{
    margin: 0px 0px 0px 18px;
}

#login_text{
    margin: 0px 0px 20px 0px;
}

h1 {
    margin: 0px 20px 0px 20px;

}

#logout a{
    margin: 0px 20px 0px 20px;
}

#login_btn{
    margin: 20px 0px 0px 0px;
}
